// Place all the styles related to the witticisms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { margin: 0; background: #777;}

.witticism-container {
  display: table;
  height: 700px;
  width: 100%;
}

.witticism {
  font-size: 6em;
  line-height: 0.9;
  letter-spacing: -3px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  @extend .fadeInUp;
  @extend .animate;
}


.witticisms {
  width: 100%;
  td {
    font-size: 16px;
  }
}

.links {
  text-align: center;
  a {
    background: #000;
    color: #fff;
    padding: 0.5em 3em;
    border-radius: 1.4em;
    font-weight: bold;
  }
}

.edit_witticism {

  .witticism_quote .text {
    border: 0;
  }
}


@mixin quote_text($background, $stroke_color, $content){
  background: $background;
  &:before {
    position: absolute;
    opacity: 0.4;
    top: -72px;
    left: 0;
    -webkit-text-stroke-color: $stroke_color;
    content:  $content;
  }
}


.random-quote {
  text-rendering: optimizeLegibility;
  margin-top: 13.3%;
  font-size: 9.2em;
  font-weight: 300;
  line-height: 1.1;

  span {
    background: rgba(0,0,0,0.2);
    padding: 30px 30px -20px;
    display: inline;
    color: rgba(0,0,0,0.0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: relative;
  }

  .herzog {
    @include quote_text(rgba(#000fff, 0.7), blue, "Herzog");
  }

  .oblique_strategies {
    @include quote_text(rgba(#38D8D8, 0.7), blue, "Oblique");
 }

  .random_design {
    @include quote_text(rgba(#FF976B, 0.7), blue, "Rams");
  }
  .sagmeister {
    @include quote_text(rgba(255, 0, 31, 0.7), blue, "Sagmeister");
  }

  .bjork {
    @include quote_text(rgba(red, 0.7), yellow, "Bjork");
  }
  .thompson {
    @include quote_text(rgba(17, 184, 17,0.7), white, "Thompson");
  }
}


#hidden-dragon { display: none; }

.buttons {
  margin: 12% auto 0 auto;
  padding: 0;
  width: 600px;
  text-align: center;
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    font-size: 2em;
    color: #fff;
    width: 200px;
    display: inline-block;
    text-align: center;
    background: rgba(0,0,0,0.2);
    padding: 20px 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}