<p id="notice"><%= notice %></p>
<div class="witticism-container">
  <h1 class="witticism animated fadeInUp"><%= @witticism.quote %></h1>
</div>

<%= link_to 'Edit', edit_witticism_path(@witticism) %> |
<%= link_to 'Back', witticisms_path %>
