<!DOCTYPE html>
<html>
<head>
  <title>Obtuse</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
      <style type="text/css">
    /* Apply (proposed) CSS style. Plugin looks for elements with class named "balance-text" */
    .witticism {
        text-wrap: balanced;
    }
    </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
